/*Delete padding and margin */
html {
    box-sizing: border-box;
}

/* Reset margin and padding for all the elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Set the body's default styles */
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Center the container and limit its width */
.container {
    max-width: 1000px;
    margin: 30px auto; /* Center the container horizontally and add 30px top and bottom margin */
}
